.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.col-full {
  flex-basis: 100%;
}

.col-three-fifth {
  flex-basis: calc(300%/5);
}

.col-two-fifth {
  flex-basis: calc(200%/5);
}

.col-half {
  flex-basis: 50%;
}

.col-third {
  flex-basis: calc(100%/3);
}
